h1 {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    padding:10px 20px 10px 20px ;
    margin: 70px 800px 30px 800px;
    border: 50px, 0px, 0px, 0px;
}